.bg {
    height: 100vh;
    background-image: url('https://mdl.artvee.com/sftb/10684po.jpg');
    box-sizing: border-box;
    background-position: center ;
}

.Footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    font-weight: 600;
	text-align: center;
    color: dimgray;
}