.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

body {
  margin: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  background-color: #ff9f43;
  color: #fff;
  font-size: 11px;
  line-height: 1.4;
  font-weight: 500;
  overflow-x: hidden;
  margin-bottom: 72px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #ffe6cf;
  text-decoration: none;
}

/* profile 부분 */
.mainForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* text-align: center; */
}

.text-area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  margin-top: 3.5vh;
  margin-bottom: 10px;
}

.text-area .desc {
  margin-top: 10px;
}

.text-area h1 {
  /* margin-bottom: 20px; */
  line-height: 35px;
  font-weight: 600;
}

/* Main 부분 */

.list {
  font-size: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 200px;
  grid-column-gap: 16px;
  grid-row-gap: 2vh;
  padding: 18px;
}

.list .item {
  border: 1px solid white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 343px;
}

.volume {
  margin-bottom: 40px;
}

.about {
  flex-direction: column;
  align-items: flex-start;
}


/* profile 부분 */
.signInForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 15%;
  text-align: center;
}

.signInForm h4 {
  width: 100vw;
  margin-top: 10px;
  height: 50px;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}

.signInForm .signin-inner {
  width: 330px;
  height: 56px;
  font-size: 15px;
  border-radius: 16px;
  padding-left: 10px;
  margin-bottom: 15px;
  display: block;
}

.signIn {
  padding: 16px;
  width: 330px;
  height: 60px;
  background-color: #333d79;
  color: #faebef;
  font-weight: 600;
  font-size: large;
  border-radius: 16px;
  margin-bottom: 15px;
}

.signUp {
  width: 100vw;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  top: 350px;
}

.signUp a {
  color: red;
  font-weight: bold;
}

/* Profile */
.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.Profile .thumb {
  width: 30%;
  margin-bottom: 20px;
}

.Profile .profile-inner {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-username {
  font-size: 20px;
  margin-top: 10px;
}

.profile-email {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 네비게이션 부분 */
.gnb {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.gnb .nav-icon {
  color: #feca57;
}

.gnb span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

/* Upload */
.Upload {
  padding: 16px;
  width: 330px;
  height: 60px;
  background-color: #333d79;
  color: #faebef;
  font-weight: 600;
  font-size: large;
  border-radius: 16px;
  margin-bottom: 15px;
}

.developing {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 30vh;
}

.developing h4 {
  margin-bottom: 50px;
  font-weight: 600;
}

.developing span {
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

/* Montly */
.monthly {
  height: 100vh;
  width: 100vw;
  font-size: 1.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.monthly .control {
  display: flex;
  margin-bottom: 50px;
}
.monthly table {
  display: flex;
  width: 80vw;
  height: 80vh;
}
.monthly table tbody {
  display: flex;
  flex-direction: column;
}
.monthly tr {
  display: flex;
  flex-direction: row;
}
.monthly td {
  display: flex;
  border: 1px solid gray;
  width: 12vw;
  height: 8vh;
}
.monthly td span {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.mbti {
  position: absolute;
  top: 2vh;
  height: 100vh;
  width: 100vw;
  font-weight: 800;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2vh;
}

.mbti div {
  font-size: 20px;
  text-align: center;
}

.mbti .question {
  margin-top: 20px;
}
