.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

body {
  margin: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  background-color: #faebef;
  color: #333d79;
  font-size: 11px;
  line-height: 1.4;
  font-weight: 500;
  overflow-x: hidden;
  margin-bottom: 72px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #ffe6cf;
  text-decoration: none;
}

.text-area {
  margin: 24px;
  margin-top: 8vh;
  margin-bottom: 12px;
}

.text-area .desc {
  margin-top: 12px;
}

.text-area h1 {
  margin-bottom: 20px;
  line-height: 35px;
  font-weight: 600;
}

/* Main 부분 */

.list {
  font-size: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 148px;
  grid-column-gap: 17px;
  grid-row-gap: 18px;
  padding: 24px;
}

.list .item {
  background-color: dimgray;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.list .item:nth-child(1) {
  background-image: url("https://animal.seoul.go.kr/comm/getImage?srvcId=MEDIA&upperNo=1223&fileTy=ADOPTIMG&fileNo=7&thumbTy=L");
}

.list .item:nth-child(2) {
  background-image: url("https://animal.seoul.go.kr/comm/getImage?srvcId=MEDIA&upperNo=1224&fileTy=ADOPTIMG&fileNo=2&thumbTy=L");
}

.list .item:nth-child(3) {
  background-image: url("https://animal.seoul.go.kr/comm/getImage?srvcId=MEDIA&upperNo=1224&fileTy=ADOPTIMG&fileNo=2&thumbTy=L");
}

.list .item:nth-child(4) {
  background-image: url("https://animal.seoul.go.kr/comm/getImage?srvcId=MEDIA&upperNo=1223&fileTy=ADOPTIMG&fileNo=7&thumbTy=L");
}

.list .item:nth-child(5) {
  background-image: url("https://animal.seoul.go.kr/comm/getImage?srvcId=MEDIA&upperNo=1223&fileTy=ADOPTIMG&fileNo=7&thumbTy=L");
}

.list .item:nth-child(6) {
  background-image: url("https://animal.seoul.go.kr/comm/getImage?srvcId=MEDIA&upperNo=1224&fileTy=ADOPTIMG&fileNo=2&thumbTy=L");
}

.volume {
  margin-bottom: 40px;
}

/* profile 부분 */
.signInForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 15%;
  text-align: center;
}

.signInForm h4 {
  width: 100vw;
  height: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #333d79;
  margin-bottom: 15px;
}

.signInForm .email {
  width: 88vw;
  height: 56px;
  font-size: 15px;
  border-radius: 16px;
  padding-left: 10px;
  margin-bottom: 15px;
}

.signInForm .password {
  width: 88vw;
  height: 56px;
  font-size: 15px;
  border-radius: 16px;
  padding-left: 10px;
  margin-bottom: 15px;
}

.signIn {
  padding: 16px;
  width: 88vw;
  height: 60px;
  background-color: #333d79;
  color: #faebef;
  font-weight: 600;
  font-size: large;
  border-radius: 16px;
  margin-bottom: 15px;
}

.signUp {
  width: 100vw;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  top: 350px;
}

.signUp a {
  color: red;
  font-weight: bold;
}

/* Profile */
.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.Profile .thumb {
  height: 50%;
  width: 100%;
  background-image: url("https://mdl.artvee.com/sftb/100386ab.jpg");
  background-size: cover;
  background-position: center;
}

.Profile .profile-inner {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-email {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* 네비게이션 부분 */
.gnb {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #4e5253;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.gnb .nav-icon {
  color: #ffe6cf;
}

.gnb span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

/* Upload */
.Upload {
  padding: 16px;
  width: 88vw;
  height: 60px;
  background-color: #333d79;
  color: #faebef;
  font-weight: 600;
  font-size: large;
  border-radius: 16px;
  margin-bottom: 15px;
}

.developing {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 30vh;
}

.developing h4 {
  margin-bottom: 50px;
}

.developing span {
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
