.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

body {
  margin: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  background-color: #ff9f43;
  color: #fff;
  font-size: 11px;
  line-height: 1.4;
  font-weight: 500;
  overflow-x: hidden;
  margin-bottom: 72px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #ffe6cf;
  text-decoration: none;
}

/* profile 부분 */
.mainForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* text-align: center; */
}

.text-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5vw;
  margin-top: 1.5vh;
  margin-bottom: 10px;
}

.text-area .desc {
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: underline;
}

.text-area h1 {
  font-weight: 600;
  margin-left: 10px
}

.filter {
  margin-left: 80px;
  font-size: 30px;
  right: 0;
}

/* Main 부분 */
.list {
  font-size: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 400px;
  grid-row-gap: 2vh;
  padding: 15px;
}

.list .item {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 380px;
}

.list .item div {
  background: #feca57;
  color: black;
  font-size: 13px;
  width: 100%;
  height: 100%;
  padding: 10px 0 0 10px;
}

.list .item div:nth-child(1) {
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0;
  height: 30%;
}

.list .item div:nth-child(2) {
  padding-top: 0;
  height: 30%;
}

.list .item img {
  width: 100%;
  height: 270px;
}

.list .item div:nth-child(4) {
  border-radius: 0px 0px 10px 10px;
  height: 50%;
}


/* about */
.about {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8vh;
  margin-left: 10vw;
  font-size: 20px;
}

.volume {
  margin-bottom: 3vh;
  font-size: 43px;
  font-weight: 700;
}

.about .title {
  margin-bottom: 5vh;
  font-size: 25px;
  font-weight: 700;
}

/* detail */
.detail {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #feca57;
}

.detail-info {
  width: 100%;
  height: 60vh;
  position: relative;
  top: -10px;
  border-radius: 10px 10px 0 0;
  color: black;
}

.detail-sub {
  margin-top: 5vh;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}

.detail-sub .title {
  font-weight: 600;
  font-size: 20px;
}

.user-info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #848484;
  width: 90%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding-bottom: 10px;
  color: #848484;
}


.tag {
  margin-top: 20px;
  display: flex;
  padding-bottom: 25px;
  width: 90%;
  border-bottom: 1px solid dimgray
}

.tag-sub {
  margin-right: 10px;
  width: 60px;
  border: 2px solid dimgray;
  border-radius: 10px;
  text-align: center;
  background-color: #ff9f43;
}

.comment {
  margin-top: 10px;
}


/* daily */
.daily-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
}

.daily-main .title {
  margin-top: 10vh;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 700;
}

.daily-main .icon {
  display: flex;
  width: 85%;
  justify-content: center;
}

.daily-button {
  margin-top: 5vh;
}

.daily-main button {
  padding: 16px;
  width: 330px;
  height: 60px;
  background-color: #feca57;
  color: black;
  font-weight: 600;
  font-size: large;
  border-radius: 10px;
  margin-top: 20px;
}



/* profile 부분 */
.signInForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 15%;
  text-align: center;
}

.signInForm h4 {
  width: 100vw;
  margin-top: 10px;
  height: 50px;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}

.signInForm .signin-inner {
  width: 330px;
  height: 56px;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
  display: block;
}

.signIn {
  padding: 16px;
  width: 330px;
  height: 60px;
  background-color: #feca57;
  color: black;
  font-weight: 600;
  font-size: large;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Sign Up */

.signUpForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.signUpForm h4 {
  width: 100vw;
  height: 50px;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  margin-top: 5vh;
  margin-bottom: 15px;
}

.signUp-text {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.signUpForm .signup-inner {
  width: 330px;
  height: 56px;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
  display: block;
}

.signUp p {
  font-size: 15px;
  font-weight: bold;
  display: block;
  width: 80%;
  text-align: left;
  margin-bottom: 5px;
}

/* Profile */
.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.Profile .thumb {
  width: 30%;
  margin-bottom: 20px;
}

.Profile .profile-inner {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-username {
  font-size: 20px;
  margin-top: 10px;
}

.profile-email {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-family {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.logout {
  padding: 16px;
  width: 330px;
  height: 60px;
  background-color: #feca57;
  color: black;
  font-weight: 600;
  font-size: large;
  border-radius: 10px;
  margin-top: 15px;
}

/* 네비게이션 부분 */
.gnb {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.gnb .nav-icon {
  color: #ff9f43;
}

.gnb span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  font-size: 30px;
}

/* Upload */
.upload {
  padding: 16px;
  width: 100%;
  background-color: #ff9f43;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload h4 {
  margin-top: 3vh;
  font-weight: 700;
}

.upload .dogname {
  margin-top: 3vh;
  font-weight: 700;
  font-size: 22px;
}

.upload .info {
  width: 100%;
  margin-top: 10px;
  height: 50px;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: black;
  border-radius: 10px;
}

.upload .name {
  font-size: 20px;
  border-bottom: 1px solid dimgray;
  margin-bottom: 10px;
  margin-top: 12px;
}

.upload .content {
  height: 50px;
  margin-top: 0;
}

.upload .img {
  font-size: 15px;
  font-weight: 700;
  height: 50px;
  padding: 10px 0 10px 25%;
  border: 4px dashed white;
}

.upload p {
  font-weight: 700;
  font-size: 13px;
  margin: 8px 0;
}

.upload form {
  display: flex;
  justify-content: flex-start;
}

.box-radio-input input[type="radio"]{
  display:none;
}

.box-radio-input input[type="radio"] + span{
  display:inline-block;
  background:none;
  border:1px solid white;  
  border-radius: 10px;
  padding:0px 20px;
  margin-right: 5px;
  text-align:center;
  height:35px;
  line-height:33px;
  font-size:13px;
  font-weight:500;
  cursor:pointer;
}

.box-radio-input input[type="radio"]:checked + span{
  border:1px solid #feca57;
  background:#feca57;
  color:black;
  font-weight: 600;
}
 

.upload button {
  padding: 16px;
  width: 330px;
  height: 60px;
  background-color: #feca57;
  color: black;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 20px;
}


/* mbit test */

.mbti {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.mbti input {
  padding: 16px;
  font-size: 16px;
  width: 80%;
  height: 60px;
  border-radius: 10px;
}

.mbti .question {
  font-size: 20px;
}

.mbti .back {
  position: relative;
  width: 100%;
  height: 1px;
}


.mbti span {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
}

.mbti button {
  padding: 16px;
  width: 330px;
  height: 60px;
  background-color: #feca57;
  color: black;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 15px;
}

.mbti .result-desc {
  width: 80%;
  font-size: 18px;
}


/* calander */
.calander {
  display: flex;
  flex-direction: column;
  width: 88%;
  font-size: 15px;
  margin-left: 24px;
  margin-top: 30px;
}

.calander-head {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  color: black;
}

.calander-info {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.calander-main {
  display: grid;
  gap:1vh 1vw;
  padding: 3vh 1vw 3vh 1vw;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 47px;
  height: 48vh;
  color: black;
  font-weight: 700;
  font-size: 10px;
  border: 1px solid white;
  background-color: white;
  text-align: center;
}

.calander-main h3 {
  font-size: 13px;
  font-weight: 700;
}

.calander-main div {
  background-color: #feca57;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calander-main div img {
  width: 50%;
  margin: 0;
}

.calander-text {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.calander-text-monthly, .calander-text-total  {
  display: flex;
  margin-top: 10px;
}


/* AI */

.ai {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.ai button {
  padding: 16px;
  width: 330px;
  height: 60px;
  background-color: #feca57;
  color: black;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 15px;
}

.load{
  /* left: 50%; */
  top:10%;
  transform: translate(-50%,-50%);
  position: relative;
  height:100px;
  width:100px;
}

.square{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  animation: spin 2s linear infinite;
}

.square:first-child{
  background-color: #fff;
  animation-delay: -1.5s;
}
.square:nth-child(2){
  background-color: dimgray;
  animation-delay: -1s;
}
.square:nth-child(3){
  background-color: #C779D0;
  animation-delay: -0.5s;
}
.square:last-child{
  background-color: #1b18cc;
}

@keyframes spin{
  0%, 100%{
    transform: translate(0);
    opacity: 0.9;
  }
  
  25%{
    transform: translate(180%);
    opacity: 0;
  }
  
  50%{
    transform: translate(180%,180%);
    opacity: 0.9;
  }
  
  75%{
    transform: translate(0%,180%);
    opacity: 0;
  }
}