.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 0;
  transition: 0.5s ease;
  z-index: 1;
  background-color: #eee;
}

.burger-icon {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  z-index: 2;
  padding: 8px 0;
  top: 24px;
  left: 24px;
  user-select: none;
  width: auto;
  margin: 0;
}

.burger-icon .burger-sticks {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.burger-icon .burger-sticks:before {
  top: 5px;
}

.burger-icon .burger-sticks:after {
  top: -5px;
}

.burger-check {
  display: none;
}

.burger-check:checked~.menu {
  max-width: 200px;
}

.burger-check:checked~.burger-icon .burger-sticks {
  background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
  transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
  transform: rotate(45deg);
}

.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
  top: 0;
}

.menu ul {
    margin-top: 50px;
}

.menu ul li{
    position: relative;
    top: 40px;
    left: -100px;
    line-height: 50px;
    transition: 0.2s ease;
    z-index: 1;
}

.burger-check:checked~.menu ul li {
    display: block;
    max-width: 200px;
    top: 40px;
    left: 40px;
    line-height: 50px;
    color: black;
}